body{
    padding: 0;
    margin:0;
}


header{
    display: flex;
    background-color: rgb(28, 115, 177);
    justify-content: space-between;
    align-items: center;
    
}

.logo_uma{
    padding-right: 3px;

}
.site_name{
    display: flex;
    align-self: center;
    font-size: 47.5%;
    
}

.login_icone{
    display: flex; 
    align-content: center;
    background-color: #fff;
    border-radius: 50%;
}

sidebar{
    background-color: white;
    
}